<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Products</title>
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
  <!-- CSS -->
  <base href="/">
  <link rel="stylesheet" type="text/css" href="css/main.css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand mx-auto">Product list</a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-4 text-center">
        <table id="productstable" class="table table-striped display">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Description</th>
              <th>Category</th>
              <th>Availability</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < products.length; i++){ %>
              <tr>
                <td> <%= products[i].id_products %></td>
                <td> <%= products[i].name %></td>
                <td> $<%= products[i].price %></td>
                <td> <%= products[i].description %></td>    
                <td> <%= products[i].category %></td>              
                <td> <%= products[i].status %></td>              
              </tr>
            <% } %>
          </tbody>
          
        </table>
      </div>
      <div class="col-md-6 mt-4 card">
        <form action="/products" method="POST" class="card-body">
          <h3 class="card-title">New product</h3>
          <div class="form-group">
            <input id="title" type="text" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" name="price" class="form-control" placeholder="Price">
          </div>
          <div class="form-group">
            <input type="text" name="description" class="form-control" placeholder="Description">
          </div>
          <hr>
          <h4>Category</h4>
          <select name="category">
              <option value="shirts">Shirts</option>
              <option value="pants">Pants</option>
              <option value="shoes">Shoes</option>
              <option value="apparel">Apparel</option>
            </select>
          <hr>
          <div class="form-group">
            <h4>Availability</h4>
            <input type="radio" name="status" value="Stock"> Stock<br>
            <input type="radio" name="status" value="Out of stock"> Out of stock<br>
          </div>
          <input type="submit" value="Add new item" class="btn btn-primary">
        </form>
        <form action="/productsedit" method="POST" class="card-body">
          <h3 class="card-title">Edit a product</h3>
          <div class="form-group">
            <input type="text" name="id_products" class="form-control" placeholder="Type the ID of the product to edit">
          </div>
          <div class="form-group">
              <h4>Availability</h4>
              <input type="radio" name="status" value="Stock"> Stock<br>
              <input type="radio" name="status" value="Out of stock"> Out of stock<br>
          </div>
          <input type="submit" value="Edit" class="btn btn-dark">
          <input type="submit" value="Delete product" class="btn btn-danger" formaction="/productsdelete">
          <input type="submit" value="DELETE TABLE" class="btn btn-danger" formaction="/cleartable">
          <br>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    document.getElementById('title').focus();
    $(document).ready(function() {
    $('#productstable').dataTable( {
        select: {
            style: 'multi'
        }
      } );
    } );
  </script>
</body>
</html>